*{
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    display: flex;
    border: 1px solid #dddddd;
    justify-content: center;
    width: 18.75rem;
    height: 37.188rem;
    margin-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
}
form input{
    width: 18.75rem;
    height: 1.75rem;
   border: 1px solid #949494;
   border-radius: 4px;
   padding-left: 9px;
   padding-right: 10px;
}
.navlogo{
    height: 37px;
    width: 103px;
    display: flex;
    justify-content: center;
    background-image: url(./assets/amablack.png);
    background-size: cover;
}
.main{
    display: flex;
    height: 670px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
button{
    background-color: #ffd814;
    width: 321px;
    height: 32px;
    border: 1px solid #fcd200;
    border-radius: 8px;
    color: #5b1111;
}
.terms{
    height: 50px;
    font-size: 12px;
    line-height: 0.4;
    padding-top: 20px;
}
.buying{
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    height: 50px;
    font-size: 12px;
    line-height: 0.4;
    margin-top: 10px;
}
.buying p{
    font-size: 13px;
    font-weight: 700;
}
.already{
    margin-top: 20px;
    font-size: 13px;
}
a{
    text-decoration: none;
    color: #4277c2;
}
label{
    font-size: 12px;
    font-weight: 700;
    color: #111111;
   line-height: 20px;

}
h1{
    font-size: 28px;
    font-weight: 400;
}
.password{
    font-size: 12px;
    line-height: .4;
}
/* sign in footer */

.signinfooter{
    height: 90px;
    border-top: 1px solid #e4e4e4;
    box-shadow: 0px 1px 6px #e4e4e4 inset;
    width: 100%;
    text-align: center;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conditions{
    /* border: 2px solid black; */
    height: 30px;
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}
.license{
    line-height: 0.8px;
    color: #6b6d6b;
}
.conditions a{
    color: #007ed2;
    text-decoration: none;
}
form p{
    color: #4f5146;
}
input{
    -webkit-transition: .8s;
    transition: 0.1s;
  outline: none;
}
input:focus{
    border: 2px solid rgba(48, 224, 215, 0.438);
    border-radius: 5px;
}