<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing</title>
</head>
<body>
  <h1>landing page working</h1>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  console.log("landing")
  // fetch()
  // .then(res=> res.json())
  // .then(res=> console.log(res))
  // .catch(console.log("api not working"))
  //  axios.get("")
  //  .then(res=> res.json())
  // .then(res=> console.log(res))
  let products;
  axios({
  method: "get",
  url: "http://localhost:3000/api",
}).then(function (response) {
  // response = response.json()
   products = response.data.products;
  
});
console.log(products)
   
</script>
</html>